<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    @*<div class="col-lg-4 col-md-4">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-upload fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" data-bind="html: SampleCollectionCount">0</div>
                        <div>Data Acquisition</div>
                    </div>
                </div>
            </div>
            <a href="@Url.Action("ImportFromLocal", "ESDAT")">
                <div class="panel-footer">
                    <span class="pull-left">Upload lab EDD file</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>*@
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                List of Quality Assurance Chain
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Action(s)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Test Chain</td>
                                <td><a class="btn btn-primary" href="@Url.Action("Detail", new { Id = 1})">View Detail</a></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>