<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="3.3.1" targetFramework="net40" />
  <package id="CsvHelper" version="2.11.1.1" targetFramework="net40" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net40" />
  <package id="Hatfield.EnviroData.Core" version="1.0.0.4" targetFramework="net40" />
  <package id="Hatfield.EnviroData.DataAcquisition" version="1.0.0.1" targetFramework="net40" />
  <package id="Hatfield.EnviroData.DataAcquisition.ESDAT" version="1.0.0.2" targetFramework="net40" />
  <package id="Hatfield.EnviroData.FileSystems.WindowsFileSystem" version="1.0.0" targetFramework="net40" />
  <package id="Hatfield.EnviroData.WQDataProfile.dll" version="1.0.0.10" targetFramework="net40" />
  <package id="Hatfield.WQDefaultValueProvider.JSON" version="1.0.0.10" targetFramework="net40" />
  <package id="Moq" version="4.2.1502.0911" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net40" />
  <package id="NUnit" version="2.6.4" targetFramework="net40" />
</packages>