<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Query Water Quality data
            </div>
            <div class="panel-body">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="accordion" id="accordion2">
                            <div class="accordion-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                                Locations
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseOne" class="accordion-body collapse in">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div id="sites" class="col-md-12">                                                    
                                                    <select data-bind="options: locations, optionsCaption: 'Select a Location',  optionsText: function(item) {
                       return item.SamplingFeatureName()+' ('+item.SiteTypeCV()+')';
                   }, optionsValue: 'SamplingFeatureID'" class="form-control" id="selectSite"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                                Time Frame
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="accordion-body collapse in">
                                        <div class="panel-body">
                                            <div class="row-fluid">
                                                <div class="row">
                                                    <div id="reportrange" class="col-md-8" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; margin-left: 15px">
                                                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                                        <span></span> <b class="caret"></b>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                                Analytes
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="accordion-body collapse in">
                                        <div id="analytes" class="panel-body">
                                            <table class="table table-bordered" data-toggle="table" data-height="300" data-search="true" data-click-to-select="true">
                                                <thead>
                                                    <tr>
                                                        <th><input id="select-all" type="checkbox" /></th>
                                                        <th data-sortable="true">Name/Analyte</th>
                                                        <th data-sortable="true">Analyte Category</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="searchable">
                                                    <!-- ko foreach: analytes -->
                                                    <tr>
                                                        <td><input class="analyte" type="checkbox" data-bind="attr: {value: VariableID, name: VariableDefinition}" /></td>
                                                        <td data-bind="html: VariableDefinition"></td>
                                                        <td data-bind="html: VariableTypeCV"></td>
                                                    </tr>
                                                    <!-- /ko -->
                                                </tbody>
                                            </table>
                                            <script type="text/javascript">
                                                $(document).ready(function () {

                                                    (function ($) {

                                                        $('#filter').keyup(function () {

                                                            var rex = new RegExp($(this).val(), 'i');
                                                            $('.searchable tr').hide();
                                                            $('.searchable tr').filter(function () {
                                                                return rex.test($(this).text());
                                                            }).show();

                                                        })

                                                    }(jQuery));

                                                });
                                            </script>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="accordion-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                                                Guidelines
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseFour" class="accordion-body collapse in">
                                        <div class="panel-body">
                                            Chose a guideline: <select class="form-control"><option>Alberta</option><option>BC</option><option>Other</option></select>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="text-center" style="padding:5px" id="generate">
                                    <button type="button" class="btn btn-primary" data-bind="click: function(){$root.generateTableDisplay();}"><i class="fa fa-table"></i> Display Data</button> |
                                    <button type="button" class="btn btn-info" data-bind="click: function(){$root.DownloadQueryData();}"><i class="fa fa-file-excel-o"></i> Download Data</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                Results
                            </h4>
                        </div>
                        <div class="panel-body">
                            <div id="warning">
                                <div class="alert alert-warning alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                                    <h4>
                                        <strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></strong> Please select options from the left side to generate the results.
                                        <span class="glyphicon glyphicon-hand-left" aria-hidden="true"></span>
                                    </h4>
                                </div>
                            </div>
                            <table class="table table-bordered" id="queryResults" style="display: none;">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <!-- ko foreach: queryResultsDateHeader -->
                                        <th colspan="3" data-bind="text: $data"></th>
                                        <!-- /ko -->
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <!-- ko foreach: queryResultsDateHeader -->
                                        <th>Value</th>
                                        <th>Prefix</th>
                                        <th>Method Detection Limit</th>
                                        <!-- /ko -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- ko foreach: queryResultsValues -->
                                    <tr>
                                        <!-- ko foreach: $data -->
                                        <td data-bind="text: $data"></td>
                                        <!-- /ko -->
                                    </tr>
                                    <!-- /ko -->
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- /container -->

<iframe style="display:none" id="fileDownloadFrame"></iframe>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Knockout/Locations/LocationList.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Knockout/Locations/LocationDetail.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Knockout/AnalyteList.js")"></script>
