@{
    ViewBag.Title = "Edit Imported Data";
}


<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Edit Imported Data</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit Imported Data
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body ESDATDataDiv" id="ESDATDataDiv">
                <div class="HeaderDataDiv row well">
                    <h4>Header File</h4>
                    <pre data-bind="text: ESDATHeaderXMLContent"></pre>

                </div>

                <div class="SampleDataDiv row">
                    <h2>Sample File</h2>
                    <div>
                        <a href="#" data-bind="click: function(){ $root.FetchDataWithVersionData(-1); return false;}">Previous Version</a>
                        <a href="#" data-bind="click: function(){ $root.FetchDataWithVersionData(1); return false;}">Next Version</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>SampleCode</th>
                                    <th>Sampled_Date-Time</th>
                                    <th>Field_ID</th>
                                    <th>Blank1</th>
                                    <th>Sample_Depth</th>
                                    <th>Blank2</th>
                                    <th>Matrix_Type</th>
                                    <th>Sample_Type</th>
                                    <th>Parent_Sample</th>
                                    <th>Blank3</th>
                                    <th>SDG</th>
                                    <th>Lab_Name</th>
                                    <th>Lab_SampleID</th>
                                    <th>Comments</th>
                                    <th>Lab_Report_Number</th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: SampleFileData">
                                <tr>
                                    <td data-bind="html: SampleCode"></td>
                                    <td data-bind="html: SampledDateTime"></td>
                                    <td data-bind="html: FieldID"></td>
                                    <td></td>
                                    <td data-bind="html: SampleDepth"></td>
                                    <td></td>
                                    <td data-bind="html: MatrixType"></td>
                                    <td data-bind="html: SampleType"></td>
                                    <td data-bind="html: ParentSample"></td>
                                    <td></td>
                                    <td data-bind="html: SDG"></td>
                                    <td data-bind="html: LabName"></td>
                                    <td data-bind="html: LabSampleID"></td>
                                    <td data-bind="html: Comments"></td>
                                    <td data-bind="html: LabReportNumber"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <!-- /.table-responsive -->
                <div class="ChemistryDataDiv row table-responsive">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>SampleCode</th>
                                <th>ChemCode</th>
                                <th>OriginalChemName</th>
                                <th>Prefix</th>
                                <th>Result</th>
                                <th>Result_Unit</th>
                                <th>Total_or_Filtered</th>
                                <th>Result_Type</th>
                                <th>Method_Type</th>
                                <th>Method_Name</th>
                                <th>Extraction_Date</th>
                                <th>Analysed_Date</th>
                                <th>EQL</th>
                                <th>EQL_Units</th>
                                <th>Comments</th>
                                <th>QA</th>
                                <th>UCL</th>
                                <th>LCL</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: ChemistryData">
                            <tr>
                                <td data-bind="html: SampleCode"></td>
                                <td data-bind="html: ChemCode"></td>
                                <td data-bind="html: OriginalChemName"></td>
                                <td data-bind="html: Prefix"></td>
                                <td data-bind="html: Result"></td>
                                <td data-bind="html: ResultUnit"></td>
                                <td data-bind="html: TotalOrFiltered"></td>
                                <td data-bind="html: ResultType"></td>
                                <td data-bind="html: MethodType"></td>
                                <td data-bind="html: MethodName"></td>
                                <td data-bind="html: ExtractionDate"></td>
                                <td data-bind="html: AnalysedDate"></td>
                                <td data-bind="html: EQL"></td>
                                <td data-bind="html: EQLUnits"></td>
                                <td data-bind="html: Comments"></td>
                                <td data-bind="html: LabQualifier"></td>
                                <td data-bind="html: UCL"></td>
                                <td data-bind="html: LCL"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>


</div>





<script src="~/Scripts/Knockout/ESDAT/EDATDataDetail.js"></script>
<script>


    $(document).ready(function () {
        var viewModel = new ESDATDataDetailViewModel();
        viewModel.FetchCollectionActionInESDAT(@Model);

        ko.applyBindings(viewModel, document.getElementById("ESDATDataDiv"));
    }); //end of document ready function
</script>