
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Import lab EDD file from Web Service
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body" id="HttpFileImportDiv">
                <div class="form-group">
                    <label> Header File URL: (Optional)</label>
                    <input class="form-control" type="text" data-bind="value: HeaderFileURL" placeholder="Header File URL" />
                </div>

                <div class="form-group">
                    <label> Sample File URL</label>
                    <input class="form-control" type="text" data-bind="value: SampleFileURL" placeholder="Sample File URL" />
                </div>

                <div class="form-group">
                    <label> Chemistry File URL</label>
                    <input class="form-control" type="text" data-bind="value: ChemistryFileURL" placeholder="Chemistry File URL" />
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" data-bind="click: function(){$root.submitImportRequest(); return false;}">Import</button> |
                    <a class="btn btn-danger" href="@Url.Action("Index")">Cancel</a>                    
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

        <div class="row">
            <div class="well" id="httpImportResultDiv" data-bind="foreach: ImportResults">
                <span data-bind="html: Message"></span><br />
            </div>
        </div>    
    </div>
</div>

<script src="~/Scripts/Knockout/HttpFileImport.js"></script>
<script>
    $(document).ready(function () {
        var httpFileImportViewModel = new HttpFileImportModel();
        ko.applyBindings(httpFileImportViewModel, document.getElementById('HttpFileImportDiv'));
    }); //end of document ready function

</script>