@{
    ViewBag.Title = "Import ESDAT Data";
}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Import ESDAT Data</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Import data from FTP File System
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body" id="FtpFileImportDiv">
                <div class="form-group">
                    <label> Header File</label>
                    <input class="form-control" type="file" />
                </div>

                <div class="form-group">
                    <label> Sample File</label>
                    <input class="form-control" type="file" />
                </div>

                <div class="form-group">
                    <label> Chemistry File</label>
                    <input class="form-control" type="file" />
                </div>


                <div class="form-group">
                    <button class="btn btn-primary" data-bind="click: function(){$root.submitImportRequest(); return false;}">Import</button> |
                    <a class="btn btn-danger" href="@Url.Action("Index")">Cancel</a>
                </div>

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

        <div class="row">
            <div class="well" id="localImportResultDiv" data-bind="foreach: ImportResults">
                <span data-bind="html: Message"></span><br />
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/Knockout/LocalFileImport.js"></script>


<script>
    $(document).ready(function () {
        var localFileImportViewModel = new LocalFileImportModel();
        ko.applyBindings(localFileImportViewModel, document.getElementById('LocalFileImportDiv'));
    }); //end of document ready function

</script>