@{
    ViewBag.Title = "Import ESDAT Data";
}

<div id="LocalFileImportDiv" class="contentDiv">
    <section class="content-wrapper main-content clear-fix">
        <h2>Local File System</h2>

        <ol class="round">
            <li class="one">
                <div>
                    <h5>Specify File Information</h5><br />
                    <span><b>Header File: (Optional)</b> <input type="file" /></span><br />
                    <span><b>Sample File:</b> <input type="file" /></span><br />
                    <span><b>Chemistry File:</b> <input type="file" /></span>
                </div>
            </li>
            <li class="two">
                <div>
                    <h5>Import ESDAT Files</h5>
                    <br />
                    <button data-bind="click: function(){$root.submitImportRequest(); return false;}">Import</button>
                </div>
            </li>
            <li class="three">
                <h5>Import Results</h5><br />
                <div id="localImportResultDiv" data-bind="foreach: ImportResults">
                    <span data-bind="html: Message"></span><br />
                </div>
            </li>
        </ol>

    </section>
</div>

<div id="HttpFileImportDiv">
    <section class="content-wrapper main-content clear-fix">
        <h2>HTTP File System</h2>

        <ol class="round">
            <li class="one">
                <div>
                    <h5>Specify File Information</h5><br />
                    <span><b>Header File URL: (Optional)</b> <input data-bind="value: HeaderFileURL" placeholder="header file URL" /></span><br />
                    <span><b>Sample File URL:</b> <input data-bind="value: SampleFileURL" placeholder="sample file URL" /></span><br />
                    <span><b>Chemistry File URL:</b> <input data-bind="value: ChemistryFileURL" placeholder="chemistry file URL" /></span>
                </div>
            </li>
            <li class="two">
                <div>
                    <h5>Import ESDAT Files</h5>
                    <br />
                    <button data-bind="click: function(){$root.submitImportRequest(); return false;}">Import</button>
                </div>
            </li>
            <li class="three">
                <h5>Import Results</h5><br />
                <div id="httpImportResultDiv" data-bind="foreach: ImportResults">
                    <span data-bind="html: Message"></span><br />
                </div>
            </li>
        </ol>

    </section>
</div>

<div id="FtpFileImportDiv" class="contentDiv">
    <section class="content-wrapper main-content clear-fix">
        <h2>FTP File System</h2>

        <ol class="round">
            <li class="one">
                <div>
                    <h5>Specify File Information</h5><br />
                    <span><b>Header File URL: (Optional)</b> <input data-bind="value: HeaderFileURL" placeholder="header file URL" /></span><br />
                    <span><b>Sample File URL:</b> <input data-bind="value: SampleFileURL" placeholder="sample file URL" /></span><br />
                    <span><b>Chemistry File URL:</b> <input data-bind="value: ChemistryFileURL" placeholder="chemistry file URL" /></span><br />
                    <span><b>UserName:</b> <input data-bind="value: UserName" placeholder="username" /></span><br />
                    <span><b>Password:</b> <input type="password" data-bind="value: Password" placeholder="password" /></span>
                </div>
            </li>
            <li class="two">
                <div>
                    <h5>Import ESDAT Files</h5>
                    <br />
                    <button data-bind="click: function(){$root.submitImportRequest(); return false;}">Import</button>
                </div>
            </li>
            <li class="three">
                <h5>Import Results</h5><br />
                <div id="ftpImportResultDiv" data-bind="foreach: ImportResults">
                    <span data-bind="html: Message"></span><br />
                </div>
            </li>
        </ol>

    </section>
</div>


<script src="~/Scripts/Knockout/LocalFileImport.js"></script>
<script src="~/Scripts/Knockout/HttpFileImport.js"></script>
<script src="~/Scripts/Knockout/FTPFileImport.js"></script>

<script>
    $(document).ready(function () {
        
        var httpFileImportViewModel = new HttpFileImportModel();
        var ftpFileImportViewModel = new FTPFileImportModel();
        var localFileImportViewModel = new LocalFileImportModel();
        
        ko.applyBindings(httpFileImportViewModel, document.getElementById('HttpFileImportDiv'));
        ko.applyBindings(ftpFileImportViewModel, document.getElementById('FtpFileImportDiv'));
        ko.applyBindings(localFileImportViewModel, document.getElementById('LocalFileImportDiv'));
    }); //end of document ready function

</script>