@{
    ViewBag.Title = "View Data";
}


<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">List of imported data</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Imported ESDAT Data
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Sample Collection Action</th>
                                <th>Action(s)</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: CollectionActions">
                            <tr>
                                <td data-bind="html: Name"></td>
                                <td><a class="btn btn-primary" href="#" data-bind="click: function(){$root.ViewESDATDataDetail($data.Id()); return false;}">View Data in ESDAT format</a> |
                                    <a class="btn btn-warning" href="#" data-bind="click: function(){$root.EditESDATData($data.Id()); return false;}">Edit Imported Data</a>
                                </td>
                                
                                
                            </tr>                            
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>

</div>
<script src="~/Scripts/Knockout/ESDAT/SampleCollectionActionDisplay.js"></script>