<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.Title</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <!-- /.row -->
    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-arrows-h fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" data-bind="html: SampleCollectionCount">0</div>
                            <div>Administration</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("Index", "ControlledVocabularies")">
                    <div class="panel-footer">
                        <span class="pull-left">Update Controlled Vocabularies from Web Service</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-dashboard fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge" data-bind="html: SampleCollectionCount">0</div>
                            <div>Administration</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("AdminDefaultValues", "Admin")">
                    <div class="panel-footer">
                        <span class="pull-left">Manage Default Values</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>


</div>

