@{
    ViewBag.Title = "Admin";
}



<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Admin</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-wrench fa-fw"></i> Admin
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <ol class="round">
                        <li class="one">
                            <h5>@Html.ActionLink("Update Controlled Vocabularies from Web Service", "Index", "ControlledVocabularies")</h5>
                            <br />
                        </li>
                        <li class="two">
                            <h5>@Html.ActionLink("Manage Default Values", "AdminDefaultValues", "Admin")</h5>
                            <br />
                        </li>
                    </ol>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

        </div>
    </div>


</div>

